.container-navbar {
  background-color: peru;
  padding: 0 20px;
}
.container-navbar-dark {
  background-color: red;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
